body {
    background: #eee;
    text-align: center;
    padding: 0 25px;
    font-family: arial, sans-serif;
}

#main {
    width: 500px;
    margin: auto;
    text-align: left;
    background: white;
    padding: 25px 52px 44px 52px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
}

form#send {
    width: 300px;
    float: right;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

form#chatSend {
    width: 188px;
    margin-bottom: 0px;
    padding-bottom: 29px;
}

input.submit {
    padding: 3px 20px;
    border: 3px;
    position: absolute;
    background-color: #A0A0A0;
    font-family: 'Economica', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #fff;
}

input.submit[type=text] {
   /* Awesome styling */
}

div #rooms {
    background: white;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
    padding: 26px 50px 36px 27px;
    width: 100px;
    float: left;
    margin-left: -237px;
    margin-top: -25px;
}

#rooms .room {
    font-family: 'Advent Pro', sans-serif;
    font-size: 17px;
    font-weight: 200;
    color: #797979;
}

#rooms .room:hover {
    background-color: #ddd;
}

#chatMessage {
    font-family: 'Economica', sans-serif;
    font-weight: 400;
    font-size: 20px;
    padding: 0px 0px 2px 10px;
    height:26px;
}


div.room {
    padding: 4px 0px 4px 13px;
    margin-bottom: 4px;
    background-color: #eee;
    width: 137px;
}

#main h1 {
    margin-top: 0;
    font-size: 46px;
    margin-bottom: 5px;
    padding: 5px;
    font-family: 'Economica', sans-serif;
    font-weight: 400;
    width: 200px;
    color: #7E7E7E;
}

#main h1 span {
    color: #1F1F1F;
}

#rooms h2 {
    font-family: 'Economica', sans-serif;
    font-weight: 700;
    font-size: 26px;
    margin: -1px 0px 7px 0px;
    color: #7E7E7E;
}



#chats .chat .user {
    font-weight: 400;
    font-size: 15px;
    font-family: 'Advent Pro', sans-serif;
    color: #949494;
}

#chats .chat .text {
    font-weight: 400;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    color: #464646;
    font-style: italic;
}

#main h1 span {
    font-weight: 700;
    font-style:italic;
}

#main ul {
    padding-left: 20px;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}

form {
    padding: 20px;
    padding-left: 0;
    margin-bottom: 20px;
}

form input[type=text] {
    margin-right: 10px;
    width: 70%;
    font-size: 12px;
    padding: 5px;
    border: 1px solid #E4E4E4;
    height: 18px;
    margin-top: 2px;
}

#message{
    font-weight: 400;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    color: #464646;
    font-style: italic;
}

div#chats {
    margin-top: 20px;
}

.chat {
    padding: 3px 5px 4px 20px;
    margin-bottom: 5px;
    background-color: #eee;
}

.chat .username {
    font-weight: 800;
}

.chat:hover {
    background-color: #ddd;
}

.spinner {
    float: right;
    height: 46px;
    margin-bottom: 5px;
}

.spinner img {
    padding: 10px;
}
